.photo {
  width: 200px;
  height: 220px;
  margin: 1.2em;
  padding: 0.7em;
	border: 1px solid #ccc;
	box-shadow: 4px 4px 2px #888888;
	float: left;
}

.photo img {
  width: 200px;
  height: 200px;
}

.photo .desc {
  font-size: 15px;
  font-weight: bold;
	text-align: center;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

.imagecollection {
	clear: both;
}

